@import url("./var.css");
@import url("./utils.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

.header {
    margin-bottom: 115px;
    height: 1042px;
    margin-top: 1px;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url("../../img/header-bg.webp");
}

.nav {
    max-width: 1210px;
    height: 156px;
    padding: 0 40px;
}

.menu {
    margin-right: 5.5px;
}

.logo {
    margin: 0 20px;
}

.menu-item {
    padding: 10px;
}

.menu-link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.socials-item {
    margin-right: 24px;
}

.socials-item:last-child {
    margin-right: 0;
}

.hero {
    max-width: 1440px;
    margin-top: 80px;
}

.hero-container {
    max-width: 826px;
    margin-bottom: 40px;
}

.hero-top {
    max-width: 692px;
    margin-bottom: 7px;
}

.hero-bottom {
    padding: 10px;
}

.hero-action-container {
    max-width: 276px;
}

.features-section {
    padding: 80px 0 0 0;
}

.features-head {
    max-width: 552px;
    margin-bottom: 80px;
}

.features-title {
    display: inline-block;
    margin-bottom: 7px;
    padding: 10px;
}

.features-subtitle {
    padding: 10px;
}

.feature-items {
    max-width: 869px;
}

.feature-item {
    width: 255px;
}

.feature-icon {
    margin-bottom: 10px;
}

.feature-title {
    padding: 10px;
    margin-bottom: 10px;
}

.feature-text {
    padding: 0 12px;
}

.feature-video {
    max-width: 1177.34px;
}

.play-btn {
    background-color: var(--primary);
    height: 187px;
    width: 187px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.organize-section {
    padding: 226px 0;
}

.organize-container {
    max-width: 1243px;
    padding: 43px 0;
}

.organize-left {
    max-width: 532px;
}

.organize-title {
    display: inline-block;
    margin-bottom: 7px;
    padding: 10px 0;
}

.organize-text {
    padding: 10px 0;
    margin-bottom: 60px;
}

.organize-img {
    margin: 18.42px;
}

.organize-btn {
    max-width: 236px;
}